body{
    background-color: antiquewhite;
}

h1{
    color: snow;
    background-color: darkseagreen;
}

h2{
    color: snow;
    background-color: #c58940;
}

a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }